In [81]:
import pandas as pd
import yfinance as yf

from datetime import date
from dateutil.relativedelta import relativedelta
import json

In [82]:
with open('../data/tickers.json') as f:
    tickers = json.load(f)

Get ticker symbols to the list

In [8]:
tickers = [ticker for ticker in tickers.keys()]

Set date range

In [108]:
end_date = date.today()
start_date = end_date - relativedelta(months=6)

In [109]:
ticker_data = yf.download('AAPL', start=start_date, end=end_date, progress=False)

ticker_data = ticker_data.reset_index()

In [110]:
data = pd.DataFrame()
data['date'] = ticker_data['Date']
data['close_price'] = ticker_data['Close']
data['volume'] = ticker_data['Volume']
data['ticker'] = 'AAPL'

In [111]:
data

          date  close_price     volume ticker
0   2024-11-08   226.710739   38328800   AAPL
1   2024-11-11   223.983734   42005600   AAPL
2   2024-11-12   223.983734   40398300   AAPL
3   2024-11-13   224.872757   48566200   AAPL
4   2024-11-14   227.969360   44923900   AAPL
..         ...          ...        ...    ...
117 2025-05-01   213.320007   57365700   AAPL
118 2025-05-02   205.350006  101010600   AAPL
119 2025-05-05   198.889999   69018500   AAPL
120 2025-05-06   198.509995   51216500   AAPL
121 2025-05-07   196.250000   68536700   AAPL

[122 rows x 4 columns]